<h1>New car successfully added to the data base:</h1>

<h2>Make: <%= @new_car.make %></h2>
<h2>Model: <%= @new_car.model %></h2>
<h2>Year: <%= @new_car.year %></h2>
<h2>Engine: <%= @new_car.engine %></h2>
<h2>Color: <%= @new_car.color %></h2>
<h2>Price: <%= @new_car.price %></h2>