<% if current_user && current_user.admin %>
<button class="button"> <a href="/cars/new"> Add a new car</a></button>
<% end %>

<h1> All vehicles</h1>


<% @cars.each_slice(3) do |three_cars| %>

	<div class="row">

		<% three_cars.each do |car| %>
			<div class="col-md-4">
				<div class="well"> 
				  <a href="/cars/<%= car.id %> "><img src="<%= car.images.first.url %>"> </a>
				  <h3> <%= car.make %> <%= car.model %> <%= car.year %> <%= car.engine %> <%= car.color %> $<%= car.price %> </h3>
					<div class="row">
						<div class="col-sm-3">
						</div>
						<% if current_user && current_user.admin %>
							<div class="col-sm-3">
						  <%= button_to "Edit", {action: "edit", id: car.id}, method: :get %> 
							</div>
							<div class="col-sm-3">
						  <%= button_to "Delete", {action: "destroy", id: car.id}, method: :delete, data: { confirm: "Are you sure?" } %>
						  </div>
				  	<% end %>
				  	</div>
			  	</div>
			</div>
		<% end %>

	</div>

<% end %>