<h1> <%= @car.make %> <%= @car.model %> </h1>
<h2><li>Year: <%= @car.year %></li></h2>
<h2><li>Engine: <%= @car.engine %></li></h2>
<h2><li>Color: <%= @car.color %></li></h2>
<h2><li> <%= @car.sale_message %></li></h2>
<h2><li>Price: $<%= @car.price %></li></h2>
<h2><li>Categories: 
  <% @car.categories.each do |category|%>
    - <%= category.title %> - 
  <% end %>  
</li></h2>



<% @car.images.each do |image| %>
<img src="<%= image.url %>" width="500px">
<% end %>

<p>
tax: <%= @car.tax %>
<p>
Total: <%= @car.total %>

<p>
Provided by: 
<%= @car.suplier.name %>
	
<p>
=============================
<p>
<p>
<!-- NEW ORDER FORM -->
<%= form_tag "/buy_now", method: :post do %>
  <div>
    How many? <input type="text" name="quantity">
  </div>
  <div>
     <input class="hidden" type="number" name="product_id" value="<%= @car.id %>">
  </div>
  <input type="submit" value="Buy Now">
<% end %>
<!-- END ORDER FORM -->
<p>   
<p>
=============================
<p>

<p>   
<div class="button"> <a href="/"> Return to list </a> </div>